<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger navigation1">
        <a class="navbar-brand" href="#">assignment Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
            <li class="nav-item dropdown mb-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </div>
    </nav>
    
    <div class="con">
        <!-- Toggle button for sidebar -->
        <div class="button bg-dark">
            <button class="sidebar-toggle" onclick="toggleSidebar()">
            <i class="bi bi-list"></i>
            </button>
        </div>
    
        <!-- sidenav -->
        <div class="sidebar bg-dark" id="sidebar">
            <div class="brand">
                <h2>Dashboard</h2>
            </div>
            <ul class="nav flex-column">
                <li>
                    <a href="assignments.html"><i class="bi bi-person-lines-fill"></i> Parents</a>
                </li>
                <li>
                    <a href="assignments.html"><i class="bi bi-bookmark-fill"></i> Teachers</a>
                </li>
                <li>
                    <a href="assignments.html"><i class="bi bi-bookmark-fill"></i> students</a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-bookmark-fill"></i>classes</a>
                </li>
                <li>
                    <a href="#"><i class=" bi bi-gear "></i>  assignments</a>
                </li>
                <li>
                    <a href="#"><i class=" bi bi-gear "></i>  fees</a>
                </li>
                <li>
                    <a href="#"><i class=" bi bi-gear "></i>  attendance</a>
                </li>
                <li>
                    <a href="#"><i class=" bi bi-gear "></i>  news</a>
                </li>
                <li>
                    <a href="#"><i class=" bi bi-gear "></i>  messages</a>
                </li>
                <li>
                    <a href="#"><i class=" bi bi-gear "></i>  notifications</a>
                </li>
    
                <!-- Other sidebar items -->
            </ul>
        </div>
        <!-- sidenav -->
        <h1>List of assignments</h1>

        <table class="table">
            <thead class="bg-warning">
                <tr>
                    <th>Assignment ID</th>
                    <th>Student ID</th>
                    <th>Class ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                <tr class="table-info">
                    <td>{{ assignment.assignmentid }}</td>
                    <td>{{ assignment.classid }}</td>
                    <td>{{ assignment.title }}</td>
                    <td>{{ assignment.description }}</td>
                    <td>{{ assignment.duedate }}</td>
                    <td>{{ assignment.createdat }}</td>
                    <td>{{ assignment.updatedat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>